@use "functions" as func;
//Mixins
@mixin constrain-size($size){
  inline-size: $size;
  block-size: $size;
}
@mixin circle-border($radius) {
  $b: $radius solid #{func.get-color("white")};
  border-inline: $b;
  border-block: $b;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
}

@mixin padding-all($radius:0) {
  padding-inline: $radius;
  padding-block: $radius;
}